<%= form_for(@comment, method: 'post', :remote => true) do |f| %>
  <div id="comment">
      <div class="col-md-12 container" id="box">
        <div class="col-md-4">
            <%= f.label :detalle %><br>
            <%= f.text_area :detalle %>
            
        </div>
        <div class="col-md-4">
            <%= f.label :precio %><br>
            <%= f.text_field :precio %>
        </div>
            <%= f.hidden_field :work, :value => @work %><br>
        <div class="col-md-4">
            <%= f.submit %>
        </div>
      </div>
  </div>
<% end %>
