<p id="notice"><%= notice %></p>

<p>
  <strong>Detalle:</strong>
  <%= @comment.detalle %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @comment.precio %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
