<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <p><h1>Trabajos</h1></p>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Motivo</th>
        <th>Tipo</th>
        <th>Kilometraje</th>
        <th>Estanque</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td><%= work.motivo %></td>
          <td><%= work.tipo %></td>
          <td><%= work.kilometraje %></td>
          <td><%= work.estanque %></td>
          <td><%= link_to 'Ver', work %></td>
          <td><%= link_to 'Editar', edit_work_path(work) %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>



