<div class="container">
    <div class="col-md-offset-2 col-md-8 col-md-offet-1 col-xs-12 col-sm-12" id="workshow">

    <center><h1>Orden de Trabajo <%= @work.id %></h1>
    <%= link_to 'Descargar en PDF', work_path(@work, format: :pdf), id:"load" %></center>

    <br>
    <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <h5 id="box"><strong>SR(A):</strong> <%=@client.full_name%></h5>
            <h5 id="box"><strong>RUT:</strong> <%=@client.rut%></h5>
            <h5 id="box"><strong>MAIL:</strong> <%=@client.mail%></h5>
            <h5 id="box"><strong>FONO:</strong> <%=number_to_phone(@client.contacto)%></h5>

        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <h5 id="box"><strong>VEHICULO:</strong> <%=@car.full_name%> - <%=@car.año%></h5>
            <h5 id="box"><strong>PATENTE:</strong> <%=@car.patente%></h5>
            <h5 id="box"><strong>CHASIS:</strong> <%=@car.chasis%></h5>
            <h5 id="box"><strong>COLOR:</strong> <%=@car.color%></h5>
        </div>
        <div class="col-md-12 no-margin col-sm-12 col-xs-12">
            <h5 id="box"><strong>DIRECCION:</strong> <%=@client.direccion_full%></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5 id="box"><strong>ESTANQUE:</strong>
            <div style="margin-left: 23%;" id="estanque"></div></h5>
        </div>
        <div class="col-md-6">
            <h5 id="box"><strong>FECHA:</strong> <%= @work.dd_mm_aaaa %> - <%= @work.hh_mm %></h5>
            <h5 id="box"><strong>KILOMETRAJE:</strong> <%= number_with_delimiter(@work.kilometraje, :delimiter => '.') %>km</h5>
            <h5 id="box"><strong>TIPO DE TRABAJO:</strong> <%=@work.tipo%></h5>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5><strong>MOTIVO:</strong></h5>
            <p id="motivo"><%= @work.motivo %></p>
        </div>
    </div>

    <div class="row">
    <br>
    <div id="formulario">
        
    </div>
        <table class="table" id="comentarios">
            <thead>
                <tr>
                    <th>Item/Trabajo</th>
                    <th class="text-right" style="padding-right: 10rem;">Precio</th>
                    <th class="text-right"><%= link_to 'trabajo <span class="glyphicon glyphicon-wrench"></span>'.html_safe, new_comment_path, remote: true, id:"newcomment" %> - <%= link_to 'insumo <span class="glyphicon glyphicon-oil"></span>'.html_safe, new_comment2_path, remote: true, id:"newcomment" %></th>
                </tr>
            </thead>
        <tbody>
          <% @work.comments.sort_by{|e| e[:created_at]}.each do |comment| %>
            <tr id= <%= comment.id %>>
              <td><%= comment.detalle %></td>
              <td class="text-right" style="padding-right: 10rem;">$<%= number_with_delimiter(comment.precio, :delimiter => '.') %></td>
              <td align="center"><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, comment, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
        </table>
        <div class="col-md-12">
            <h3 class= "total" id="box"><strong>TOTAL: </strong>$<%=number_with_delimiter(@work.calcular_total, :delimiter => '.')%></h3>
        </div>
        
    </div>
    <center>
    <%= link_to 'Descargar en PDF', work_path(@work, format: :pdf), id:"load",class: "btn btn-lg btn-success" %> 
    <%= link_to 'Volver', car_path(@car), class: "btn btn btn-lg btn-danger", style: "width:18rem;" %>
    </center>
    </div>
</div>


  <script>
 
  $( document ).ready(function() {
    var value = <%= @work.estanque %>;
    var color;
    if(value < 3) {
        color = "red";
    }
    else if (value < 6) {
        color = "yellow";
    }
    else{
        color = "green";
    }
    $(".rs-range-color").css("background-color", color) ;
  });
 
  </script>

<script>
  $('#load').click(function(){
   $('html').html("<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><center><div id=loadingDiv><img src=<%= asset_path('car.gif') %> ><br/>Generando orden de trabajo, por favor espere...</div></center>"); 
});
</script>

<script type="text/javascript">
    $("#estanque").roundSlider({
        radius: 90,
        circleShape: "half-top",
        sliderType: "min-range",
        showTooltip: true,
        value: <%= @work.estanque%>,
        readOnly: true,
        max:12,
        width:20,
    });
    $(".rs-tooltip-text").text(<%= @work.estanque * 100/12 %> + "%");

</script>