<p id="notice"><%= notice %></p>
<div class="container">
<div class="col-md-5">

  <h1>Datos Cliente:</h1>
  <p>
    <strong>Nombre:</strong>
    <%= @client.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= @client.apellido %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= @client.mail %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @client.direccion %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= @client.comuna %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @client.telefono %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= @client.celular %>
  </p>
  <p>
    <strong>Cliente desde:</strong>
    <%= @client.get_start_day  %>
  </p>

  <%= link_to 'Actualizar Datos', edit_client_path(@client), class: "btn btn-lg btn-primary", id:"nuevocliente" %>
</div>

<div class="col-md-7">

  <h1>Vehículos:</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Patente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Kilometraje</th>
        <th colspan="1"></th>
        <th><%=link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_car_path, :id => @client.id%></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @client.cars.each do |car| %>
        <tr>
          <td><%= car.patente %></td>
          <td><%= car.marca %></td>
          <td><%= car.modelo %></td>
          <td><%= car.kilometraje %></td>
          <td><%= link_to 'Ver', car %></td>
          <td><%= link_to 'Editar', edit_car_path(car) %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<h3><%=link_to 'Agregar nuevo Vehículo'.html_safe, new_car_path, :id => @client.id%></h3>
</div>

<div class="col-md-12">
<br>
<%= link_to 'Volver', :back, class: "btn btn-lg btn-danger", id:"nuevocliente"%>
</div>

</div>
