<!DOCTYPE html>
<html>
<head>
  <title>TallerMH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head" style="font-size:260%;"><strong>Servicio Integral MH</strong></h1>
        <p class="splash-subhead">
            Técnico: Marcelo Herrera
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Taller cercano y de confianza</h2>
        <div class="row" style="margin-bottom:20px;">
            <div class="l-box col-md-4 col-xs-11">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Solución en pocos días
                </h3>
                <p>
                    En taller MH hacemos el trabajo en poco tiempo, porque sabemos lo que siginica quedarse sin automóvil.
                </p>
            </div>
            <div class="l-box col-md-4 col-xs-11">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Económico
                </h3>
                <p>
                    Ofrecemos un servicio con un precio justo, no más cobros excesivos por parte de los consecionarios.
                </p>
            </div>
            <div class="l-box col-md-4 col-xs-11">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Confiable
                </h3>
                <p>
                    Nuestro trabajo es de alta calidad, utilizamos repuestos confiables y entregamos respuesta inmediata a cualquier problema.
                </p>
            </div>
            <br>
            <br>
        </div>

    </div>


    <div class="footer l-box is-center" style="">
        Taller MH, Av. San José 3251, Recoleta, Santiago.    Fono: 56 9 90385948
    </div>

</div>






</body>
</html>