<div class="container">
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-12 col-xs-12">
        <h1 class=>Clientes</h1>
        <%= link_to 'Nueva Compra', new_compra_path, class: "btn btn-lg btn-danger new-client", id:"nuevocliente"%>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>P compra</th>
        <th>P venta</th>
        <th>Cantidad</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @compras.each do |compra| %>
        <tr class='clickable-row'>
          <td><%= compra.producto %></td>
          <td><%= compra.p_compra %></td>
          <td><%= compra.p_venta %></td>
          <td><%= compra.cantidad %></td>
          <td><%= link_to 'Ver', compra %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
