<div class="container">
  <div class="col-md-5">

  <h1><span id="box" class="glyphicon glyphicon-shopping-cart"></span> Detalle de Compra</h1>


    <p id="notice"><%= notice %></p>

    <p>
      <strong>ID Producto:</strong>
      <%= @compra.producto %>
    </p>

    <p>
      <strong>Precio de Compra:</strong>
      <%= @compra.p_compra %>
    </p>

    <p>
      <strong>Precio de Venta:</strong>
      <%= @compra.p_venta %>
    </p>

    <p>
      <strong>Cantidad:</strong>
      <%= @compra.cantidad %>
    </p>
    <p>
      <strong>Restantes:</strong>
      <%= @compra.remaining %>
    </p>

    <h3>
<!--link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, @compra, method: :delete, data: { confirm: 'Estas seguro? Se actualizarán los stocks' }, id: "box" -->
    <%= link_to 'Actualizar Datos', edit_compra_path(@compra), class: "btn btn-lg btn-primary", id:"nuevocliente" %>
    <%= link_to 'Volver', :back, class: "btn btn-lg btn-danger", id:"nuevocliente"%></h3>
  </div>
</div>
