<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">  
      <div class="field block">
        <%= f.label :nombre %>(Ej. Pastilla delantera)<br>
        <%= f.text_field :nombre, style: "width:25rem;" %>
      </div>
      <div class="field block">
        <%= f.label :identificador %><br>
        <%= f.text_field :identificador, style: "width:11rem;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">      
      <div class="field block">
        <%= f.label :marca %><i>(De automóvil) </i><br>
        <%= f.text_field :marca, style: "width:14rem;" %>
      </div>
      <div class="field block">
        <%= f.label :modelo %><i>(De automóvil) </i><br>
        <%= f.text_field :modelo, style: "width:22rem;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> 
      <div class="field block">
        <%= f.label :fabricante %> (y modelo)<br>
        <%= f.text_field :fabricante, style: "width:36rem;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <%= f.label :descripcion %><br>
        <%= f.text_area :descripcion, style: "width:36rem;height:6rem;" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-success", value: @boton%>
<% end %>

