<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @item.nombre %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @item.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @item.modelo %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @item.fabricante %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @item.identificador %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @item.stock %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
