<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="field block">
        <%= f.label :patente %><br>
        <%= f.text_field :patente, style: "width:23rem;" %>
      </div>
      <div class="field block">
        <%= f.label :tipo %><br>
        <%= f.select :tipo, ['Auto', 'Moto', 'Camioneta','Bus', 'Camión', 'Otro'] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="field block">
        <%= f.label :chasis %><br>
        <%= f.text_field :chasis, style: "width:34rem;" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="field block">
        <%= f.label :marca %><br>
        <%= f.select :marca , ['Abat', 'Acadian', 'Acura', 'Adventure', 'Africa', 'Agrale', 'Agromaq', 'Agusta', 'AJS', 'Alba Motors', 'Alfa Romeo', 'Allmand', 'Altec', 'Amazone', 'AMC', 'American Motors', 'Ammann', 'Anderson Trailers', 'Antonio Carraro', 'Aprilia', 'APT', 'Aqualine', 'Arctic Cat', 'Ariel', 'Aro', 'Artigiana', 'Artrak', 'Asia Motors', 'Aston Martin', 'Atlas', 'Atlas Copco', 'ATV', 'Audi', 'Aupa', 'Ausa', 'Austin', 'Automoto', 'Autorrad', 'Aveling-barford', 'Axion', 'BAIC', 'Baja', 'Bajaj', 'Baldan', 'Baolat', 'Baotion', 'Barford', 'Barko', 'Bartell', 'Baryval', 'Bashan', 'BAW', 'Bayliner', 'Beiben', 'Belarus', 'Belav - Tomav', 'Belda', 'Bell', 'Benelli', 'Benford', 'Bentley', 'Benyi', 'Benzhou', 'Bertone', 'beta', 'Bianchi', 'Bigfoot', 'Bimota', 'Black Diamond', 'Blumhardt', 'BMW', 'Bobcat', 'Bohemia', 'Bomag', 'Bombard', 'Bombardier', 'Bonluck', 'Borgward', 'Bortex', 'Breuer', 'Breviglieri', 'Brias', 'Brilliance', 'Brilliant', 'Brillon', 'Broce Broom', 'Bros', 'BRP CAN-AM', 'BSA', 'Buell', 'Bugatti', 'Buggy', 'Buick', 'Busscar', 'ByB', 'BYD', 'Caburga', 'Cadillac', 'Cagina', 'Cagiva', 'Caio', 'Caky', 'Can-Am', 'Canoa', 'Carraro', 'Case', 'Catalina', 'Caterpillar', 'CF Moto', 'CGB Trailer', 'Challenger', 'Champion', 'Chandler', 'Changan', 'Changhe', 'Changjeng', 'Changlin', 'ChengGong', 'Cherokee', 'Chery', 'Chevrolet', 'Chituma', 'Choice', 'Chris Craft', 'Chrysler', 'Cima', 'Citroën', 'City Biker', 'Claas', 'Clinton', 'Coachmen', 'Cobalt', 'Cobra', 'Coleman', 'Coloso', 'Comil', 'Compair', 'Comuta-Car', 'Craftsman', 'CRG', 'Cross', 'Crownline', 'Cummins', 'Curiram', 'Custom', 'Dadyw', 'Daelim', 'Daemo SMT', 'Daewoo', 'Daf', 'Daihatsu', 'Datsun', 'Dax', 'Dayun', 'Demag', 'Deutz-Fahr', 'DFM', 'DFSK', 'Dieci', 'Dimex', 'Dingli', 'Dingo', 'Dinolift', 'Divermaq', 'DKW', 'Dodge', 'Dongfeng', 'Doosan', 'Doyayama', 'Ducar', 'Ducati', 'Duroboat', 'E-One', 'Eager Beaver', 'Eagle', 'Ecoline', 'EGL', 'Elho', 'EP', 'Escape', 'Estuder', 'Etnyre', 'Euromot', 'Europard', 'Evinrude', 'Exel', 'Fada', 'Falc', 'Farmtrac', 'Fassi', 'Faw', 'Fayser', 'Feri', 'Fernández', 'Ferrari', 'Fiat', 'Fiatallis', 'Fibermold', 'Fibertex', 'Fina', 'Firemax', 'Fisher Sportscars', 'Fleewood', 'FMA', 'Focus Bikes', 'Ford', 'Forest River', 'Forson', 'Foton', 'Four', 'Free Way', 'Freightliner', 'Fruehauf', 'Fullcar', 'Fuma', 'Furukawa', 'Fuso', 'Futong', 'GAC Gonow', 'GAC Motors', 'Galion', 'Gama', 'Garant Kotte', 'Gardella', 'Garelli', 'Gas Gas', 'Geely', 'Genie', 'Geo', 'Geoagric', 'Giant', 'Gilera', 'Glastron', 'GMC', 'Golden Dragon', 'Goldini', 'Goren', 'Great Dane', 'Great Wall', 'Greenmaster', 'Gribaldi Salvia', 'Grimme', 'Grove', 'Grua', 'GT Bicycles', 'Gtop', 'Guowei', 'Guzzi', 'Hafei', 'Haima', 'Halla', 'Hamm', 'Hammel', 'Hangcha', 'Hardi', 'Harley-Davidson', 'Hartford', 'Haulotte', 'Hechizo', 'Heli', 'Hensim', 'Hero Puch', 'Hidromek', 'Higer', 'Hino', 'Hisun', 'Hitachi', 'Honda', 'Honex', 'Hood', 'Howard', 'Huanghai - SG', 'Huatai', 'Hudson', 'Hummer', 'Hunter', 'Husaberg', 'Husqvarna', 'Hyosung', 'Hyster', 'Hyundai', 'Ibiza', 'Ika', 'Indian', 'Indusa', 'Infiniti', 'Ingersoll Rand', 'Inrecar', 'International', 'Invermoto', 'Irizar', 'Isuzu', 'Italev', 'Iveco', 'Ivesa', 'Jaar', 'JAC Motors', 'Jacto', 'Jaguar', 'Jan', 'Jawa', 'Jayco', 'JBC', 'JCB', 'Jeanneau', 'Jeep', 'JF', 'Jialing', 'Jianshe', 'Jiapeng', 'Jinbei', 'Jincheng', 'Jinlun', 'Jinma', 'JLG', 'JMC', 'John Deere', 'John Henry', 'Jonway', 'Joyride', 'Jumil', 'Jurmar', 'Kamaz', 'Karmann Caravan', 'Kato', 'Kaufman', 'Kawasaki', 'Kayak', 'Keeway', 'Kenworth', 'Keystone', 'Kia', 'Kia Motors', 'King Long', 'Kingyard', 'Kinlon', 'Kinroad', 'Kioti', 'Knigth', 'Kobelco', 'Komatsu', 'Koshin', 'Krone', 'KTM', 'Kuberg', 'Kubota', 'Kuhn', 'Kvernerland', 'Kydron', 'Kymco', 'KZ', 'Labounty', 'Lada', 'Lamborghini', 'Lambretta', 'Lancia', 'Land Mark', 'Land Rover', 'Landini', 'Landwind', 'Larson', 'Laverda', 'Leike', 'Lely', 'Lemken', 'Lerpain', 'Levera', 'Lexus', 'Leyland', 'Lian Mei', 'Librelato', 'Liebherr', 'Lievers', 'Lifan', 'Lifeng Group', 'Lihhai', 'Lincoln', 'Linde', 'Link-Belt', 'Lishan Bus', 'Litostrog', 'Liugong', 'LML', 'Lokomo', 'Loncin', 'Longgong', 'Longstar', 'Lonking', 'Lotus', 'Luojia', 'Luzhong', 'MacGregor', 'Machile', 'Mack', 'Madal', 'Magirus Deutz', 'Magnum', 'Magrinsa', 'Mahindra', 'Maico', 'MainMotor', 'Majesa', 'Malbec', 'Man', 'Manac', 'Manitou', 'Mapel', 'Marchesan', 'Marcopolo', 'Mariah', 'Mariner', 'Mascarello', 'Maserati', 'Masmetal', 'Massey ferguson', 'Mathews Company', 'Maxibus', 'Maximal', 'Maxum', 'Maxus', 'Mayov', 'Mazda', 'McLaren', 'Megelli', 'Mercedes Benz', 'Mercruiser', 'Mercury', 'Metalpar', 'Metaltec', 'MG', 'Michigan', 'Mikilon', 'Ming Power', 'Mini Cooper', 'Mits', 'Mitsubishi', 'Monon', 'Monosem', 'Monster', 'Montelli', 'Montenegro', 'Monterrey', 'Montesa', 'Morbidelli', 'Morris', 'Moskito', 'Motar', 'Moto ABC', 'Moto-Vitale', 'Motobi', 'Motofarm', 'Motoguzzi', 'Motomel', 'Motorhome', 'Motorrad', 'Motosport', 'Motostock', 'Movil', 'MPT', 'MSK', 'MTD', 'Multitruck', 'Mussre', 'Mustang', 'MV Agusta', 'National Crane', 'Nautic', 'Nauticat', 'Neobus', 'New Holland', 'Nichiyu', 'Nissan', 'Nitro', 'Niubo', 'Nobel', 'Nordkapp', 'NSU', 'Nux', 'Oayun', 'Oldsmobile', 'Olympian', 'Omega', 'Opel', 'Orion', 'Oset', 'Ossa', 'Ovlac', 'Oxford', 'Packard', 'Palfinger', 'Panther', 'Parada', 'Peerless', 'Pegaso', 'Perforadora Lobos', 'Peterbilt', 'Peugeot', 'PGO', 'Phantom', 'Piaggio', 'Pioneer', 'Pit Bike', 'PKM', 'Plymouth', 'Polaris', 'Polini', 'Pontiac', 'Porsche', 'Poseidon', 'Pottinger', 'Powerscreen', 'Powerski', 'Pramac', 'Predictor', 'Prelude', 'Prentice', 'Prodeco', 'Proton', 'Prott', 'Pumar', 'Putzmeister', 'PYH', 'PZ', 'Quingri', 'Quingui', 'Rabalme', 'RAM', 'Randon', 'Range Rover', 'Ranger', 'Rauch', 'Rautop', 'Recrusul', 'Regal', 'Regal Raptor', 'Regnicoli', 'Renault', 'Rermann', 'Resainox', 'Rexton', 'Rhino', 'Rino', 'Riotecnia', 'Rizato', 'Robot', 'Rockwood', 'Rolls-Royce', 'Rondini', 'Rotax', 'Rover', 'Royal Enfield', 'Saab', 'Sabatch', 'Sachs', 'Saic Motor', 'Saleen', 'Same', 'Samsung', 'Sandvik', 'Sanlg', 'Sanya', 'Sargent Agricola', 'Saturn', 'Scania', 'Scat Trak', 'Schwarze', 'SDLG', 'Sea-Doo', 'Sea-Ray', 'Seat', 'Semirigido', 'Shaanxi', 'Shacman', 'Shangai', 'Shantui', 'Shelby', 'Shenyang', 'Sherco', 'Shifeng', 'Shineray', 'Shiyam', 'Silver Marine', 'Silverado', 'Simca', 'Simson', 'Sin marca', 'Singer', 'Sinotruck', 'Sinski', 'Ski-Doo', 'Skoda', 'Skua', 'Skygo', 'SMA', 'Smart', 'Snorkel', 'Socage', 'Sonalika', 'Sonyen', 'South Marine', 'Soyoda', 'Speedo', 'Spitz', 'Sport Voad', 'Sportbas', 'Sportboat', 'Ssangyong', 'Stallion', 'Standard', 'Stara', 'Starcraft RV', 'Status', 'Steel', 'Sterling', 'Stingray', 'Stoll', 'Stoughton', 'Strick', 'Studebaker', 'Subaru', 'Sukida', 'Sullair', 'Sullivan', 'Sumo', 'Sunlong', 'Super Hawai', 'Super Products', 'Surco', 'Suzuki', 'Swift', 'SYM', 'Taarup', 'Tahoe', 'Takasaki', 'Takeuchi', 'Tamrock', 'Tata', 'Tatu', 'TCM', 'Tecnomad', 'Tennant', 'Terex', 'TGB', 'Thompson', 'Thwaites', 'Tiger', 'TM', 'Tohatsu', 'Torito', 'Tormesol', 'Toro', 'Torrot', 'Toyota', 'Trailer', 'Trailer Factory', 'Trailmobile', 'Transpak', 'Travin', 'Trayers', 'Trek', 'Tremac', 'Triumph', 'Trophy', 'Tsunami', 'TVS', 'United Motors', 'Universal', 'Ural', 'Utility', 'Valmet', 'Valpadana', 'Valtra', 'Van Hool', 'Vargas', 'Vento', 'Vermeer', 'Verona', 'Vespa', 'Vicon', 'Victoria', 'Victory', 'Villalta', 'Vitalmetal', 'Volare', 'Volkswagen', 'Volvo', 'Vulcan', 'Wabash', 'Wagner', 'Walker Bay', 'Wanch', 'Wangye', 'Water Scooter', 'Western Star', 'Willys', 'Winnebago', 'Witzco', 'Wolken', 'World', 'Wuhlmaus', 'Wuling', 'XBH', 'XCMG', 'Xgjao', 'Xinfu', 'Xingyue', 'Xmotor', 'Xpress International', 'Yadea', 'Yale', 'Yamaha', 'Yanmar', 'Yarara', 'Yaxing', 'Yepear', 'Yingang', 'Yinxiang', 'Yomel', 'Youngman', 'Youyi', 'YTO', 'Yuejin', 'Yugo', 'Yutong', 'Zastava', 'Zeppelin', 'Zero', 'Zetor', 'Zhongtong', 'ZNA', 'Znen Group', 'Zodiac', 'Zongshen', 'Zoomlion', 'Zotye', 'Zueger', 'Zumotho', 'Zundapp', 'ZX Auto'] %>
      </div>

      <div class="field block">
        <%= f.label :modelo %><br>
        <%= f.text_field :modelo, style: "width:17rem;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="field block">
        <%= f.label :año %><br>
        <%= f.text_field :año, style: "width:11rem;" %>
      </div>
      <div class="field block">
        <%= f.label :kilometraje %><br>
        <%= f.text_field :kilometraje, style: "width:11rem;" %>
      </div>
      <div class="field block">
        <%= f.label :color %><br>
        <%= f.text_field :color, style: "width:11rem;" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="field block">
        <%= f.label :comentarios %><br>
        <%= f.text_area :comentarios, style: "width:34rem;height:8rem;" %>
      </div>
    </div>
  </div>
  <div class="field" style="display:none;">
    <%= f.hidden_field :client, :value => @client %><br>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-success", value: @boton%>
<% end %>
