<style type="text/css">
    #divisee .actions input{
        color: white;
        background: #15CD72;
        border: 0;
        font-weight: 500;
        font-size: 22px;
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
        font-family: "proxima-nova", helvetica;
        margin: 20px auto;
        margin-left: 0px;
        margin-right: 0px;
        padding: 15px;
        display: block;
        border-radius: 3px;
        transition: opacity 0.4s;
        text-align: center;
        height: auto;
    }
    #devisee .actions {
        padding: 0px;
    }
    h2 {
        text-align: center;
    }

    #user_email, #user_password, #user_password_confirmation{
        width: 100%;
    }

    .clase {
        margin-top: 10rem;
        border-radius: 4px;
        padding-top: 4rem;
        padding-bottom: 6rem;
        padding-left: 4rem;
        padding-right: 4rem;
        width: 34%;
        margin-left:33%;
        font-family: helvetica;
        height: 360px;
    }

@media (max-width: 500px){
    .clase {
        margin-top: 10rem;
        border-radius: 4px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 80%;
        margin-left:10%;
        font-family: helvetica;
    }

}

</style>

<!DOCTYPE html>
<html style="background-color:rgb(43,139,220);">
<head>
    <title>TallerMH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body class="clase" id="divisee">
<div>
<%= yield %>
</div>
</body>

</html>